.btn--default,
.btn--outline {
  border: none;
  border-radius: 10px;
  height: fit-content;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  text-wrap: nowrap;
}

.btn--default {
  background-color: var(--primary);
  color: white;
  border: none;
  transition: box-shadow 200ms;
}

.btn--default:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.btn--outline {
  box-shadow: 0 0 0 1px white inset;
  background-color: transparent;
  color: white;
  transition: background-color 200ms;
}

.btn--outline:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.loading {
  background-color: rgb(153, 153, 153);
  cursor: not-allowed;
}
