NODE_ENV="dev"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wheres-waldo?schema=public"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wheres-waldo-test?schema=public"
SECRET_KEY="supersecretkey69"
# 15 mins
GAME_JWT_EXPIRE=900
ENV="dev"
# comma separated
ALLOWED_ORIGINS="http:/localhost:3000"
HOST="localhost"
PORT="3000"